server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?serverTimezone=Asia/Seoul
    username: cos
    password: cos1234
    # DB username, password 에서 오류 발생되면 그때 수정할 것, 일단 강의 내용 그대로 진행

  jpa:
    hibernate:
      ddl-auto: update #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 990282549158-37b37bih9tqo864tgsf0nfocv4cti3vr.apps.googleusercontent.com
            client-secret: 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
            scope: 
            - email
            - profile

          facebook:
            client-id: 2062946374040028
            client-secret: f40ce22168d69e18d922d7ecb795cb5e
            scope: 
            - email
            - public_profile
